In [1]:
import pandas as pd
import numpy as np

In [26]:

# --- ƒê·ªçc d·ªØ li·ªáu ---
april = pd.read_csv("T_ONTIME_REPORTING_April2.csv")
may   = pd.read_csv("T_ONTIME_REPORTING_May2.csv")
june  = pd.read_csv("T_ONTIME_REPORTING_June2.csv")

# --- G·ªôp 3 file ---
combined = pd.concat([april, may, june], ignore_index=True)

# --- S·∫Øp x·∫øp theo MONTH v√† DAY_OF_MONTH (n·∫øu c·∫ßn gi·ªØ ƒë√∫ng th·ª© t·ª± ng√†y) ---
combined = combined.sort_values(by=["MONTH"]).reset_index(drop=True)

# --- Xu·∫•t ra file CSV ---
combined.to_csv("T_ONTIME_REPORTING_AprilMayJune.csv", index=False)

print(combined.head())

   MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER ORIGIN ORIGIN_STATE_ABR  \
0      4             1            2                AA    CLT               NC
1      4             1            2                AA    CLT               NC
2      4             1            2                AA    CLT               NC
3      4             1            2                AA    DFW               TX
4      4             1            2                AA    DFW               TX

  DEST DEST_STATE_ABR  CRS_DEP_TIME  DEP_DELAY  DEP_DELAY_NEW  DEP_DEL15  \
0  SEA             WA           940       -6.0            0.0        0.0
1  SEA             WA          1623       -4.0            0.0        0.0
2  SEA             WA          1805       -4.0            0.0        0.0
3  GEG             WA          1930       11.0           11.0        0.0
4  SEA             WA           705       -4.0            0.0        0.0

   DEP_DELAY_GROUP  CRS_ARR_TIME  CANCELLED  CRS_ELAPSED_TIME  DISTANCE  \
0             -1.0          1250        0.0             370.0    2279.0
1             -1.0          1915        0.0             352.0    2279.0
2             -1.0          2056        0.0             351.0    2279.0
3              0.0          2113        0.0             223.0    1477.0
4             -1.0           933        0.0             268.0    1660.0

   DISTANCE_GROUP
0              10
1              10
2              10
3               6
4               7

In [27]:
# --- ƒê·ªçc d·ªØ li·ªáu ƒë√£ g·ªôp ---
combined = pd.read_csv("T_ONTIME_REPORTING_AprilMayJune.csv")

# --- L·ªçc ch·ªâ l·∫•y ORIGIN_STATE_ABR = 'WA' ---
wa_flights = combined[combined["ORIGIN_STATE_ABR"] == "WA"]

# --- Xu·∫•t ra file CSV ri√™ng ---
wa_flights.to_csv("T_ONTIME_REPORTING_WA.csv", index=False)

print(wa_flights.head())
print("T·ªïng s·ªë chuy·∫øn bay ƒë·∫øn WA:", len(wa_flights))

    MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER ORIGIN  \
12      4             1            2                AA    GEG
13      4             1            2                AA    GEG
14      4             1            2                AA    GEG
21      4             1            2                AA    SEA
22      4             1            2                AA    SEA

   ORIGIN_STATE_ABR DEST DEST_STATE_ABR  CRS_DEP_TIME  DEP_DELAY  \
12               WA  DFW             TX           534       -1.0
13               WA  PHX             AZ           632       -5.0
14               WA  PHX             AZ          1527       15.0
21               WA  CLT             NC           720       -3.0
22               WA  CLT             NC          1350       -3.0

    DEP_DELAY_NEW  DEP_DEL15  DEP_DELAY_GROUP  CRS_ARR_TIME  CANCELLED  \
12            0.0        0.0             -1.0          1112        0.0
13            0.0        0.0             -1.0           920        0.0
14           15.0        1.0              1.0          1807        0.0
21            0.0        0.0             -1.0          1519        0.0
22            0.0        0.0             -1.0          2150        0.0

    CRS_ELAPSED_TIME  DISTANCE  DISTANCE_GROUP
12             218.0    1477.0               6
13             168.0    1020.0               5
14             160.0    1020.0               5
21             299.0    2279.0              10
22             300.0    2279.0              10
T·ªïng s·ªë chuy·∫øn bay ƒë·∫øn WA: 50372

In [28]:
df = pd.read_csv("T_ONTIME_REPORTING_WA.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50372 entries, 0 to 50371
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              50372 non-null  int64
 1   DAY_OF_MONTH       50372 non-null  int64
 2   DAY_OF_WEEK        50372 non-null  int64
 3   OP_UNIQUE_CARRIER  50372 non-null  object
 4   ORIGIN             50372 non-null  object
 5   ORIGIN_STATE_ABR   50372 non-null  object
 6   DEST               50372 non-null  object
 7   DEST_STATE_ABR     50372 non-null  object
 8   CRS_DEP_TIME       50372 non-null  int64
 9   DEP_DELAY          50196 non-null  float64
 10  DEP_DELAY_NEW      50196 non-null  float64
 11  DEP_DEL15          50196 non-null  float64
 12  DEP_DELAY_GROUP    50196 non-null  float64
 13  CRS_ARR_TIME       50372 non-null  int64
 14  CANCELLED          50372 non-null  float64
 15  CRS_ELAPSED_TIME   50372 non-null  float64
 16  DISTANCE           50372 non-null  float64
 17  DISTANCE_GROUP     50372 non-null  int64
dtypes: float64(7), int64(6), object(5)
memory usage: 6.9+ MB

In [29]:
df.isnull().sum()

MONTH                  0
DAY_OF_MONTH           0
DAY_OF_WEEK            0
OP_UNIQUE_CARRIER      0
ORIGIN                 0
ORIGIN_STATE_ABR       0
DEST                   0
DEST_STATE_ABR         0
CRS_DEP_TIME           0
DEP_DELAY            176
DEP_DELAY_NEW        176
DEP_DEL15            176
DEP_DELAY_GROUP      176
CRS_ARR_TIME           0
CANCELLED              0
CRS_ELAPSED_TIME       0
DISTANCE               0
DISTANCE_GROUP         0
dtype: int64

In [30]:
# X√≥a c√°c d√≤ng c√≥ gi√° tr·ªã thi·∫øu ·ªü c·ªôt 
df = df.dropna(subset=["DEP_DELAY", "DEP_DELAY_NEW", "DEP_DEL15", "DEP_DELAY_GROUP"]).reset_index(drop=True)
df.isnull().sum()

MONTH                0
DAY_OF_MONTH         0
DAY_OF_WEEK          0
OP_UNIQUE_CARRIER    0
ORIGIN               0
ORIGIN_STATE_ABR     0
DEST                 0
DEST_STATE_ABR       0
CRS_DEP_TIME         0
DEP_DELAY            0
DEP_DELAY_NEW        0
DEP_DEL15            0
DEP_DELAY_GROUP      0
CRS_ARR_TIME         0
CANCELLED            0
CRS_ELAPSED_TIME     0
DISTANCE             0
DISTANCE_GROUP       0
dtype: int64

In [31]:
# Count number of cancelled flights
num_cancelled = df[df["CANCELLED"] == 1].shape[0]
print("Number of cancelled flies (CANCELLED = 1):", num_cancelled)

df[df["CANCELLED"] == 1].head()

Number of cancelled flies (CANCELLED = 1): 10

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,DEST,DEST_STATE_ABR,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,CRS_ARR_TIME,CANCELLED,CRS_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP
524,4,2,3,AS,SEA,WA,BNA,TN,1742,426.0,426.0,1.0,12.0,2359,1.0,257.0,1978.0,8
11349,4,24,4,AS,SEA,WA,DEN,CO,1358,54.0,54.0,1.0,3.0,1738,1.0,160.0,1024.0,5
15631,5,2,5,AS,SEA,WA,PSC,WA,1950,-4.0,0.0,0.0,-1.0,2051,1.0,61.0,172.0,1
24646,5,19,1,AS,SEA,WA,JFK,NY,2140,-5.0,0.0,0.0,-1.0,609,1.0,329.0,2422.0,10
30349,5,29,4,AS,SEA,WA,KTN,AK,1151,4.0,4.0,0.0,0.0,1257,1.0,126.0,680.0,3

In [32]:
# Delete rows with CANCELLED = 1
df = df[df["CANCELLED"] != 1]

print("Size of dataset:", df.shape)

Size of dataset: (50186, 18)

In [ ]:
def hhmm_to_decimal(time_val):
    """
    Convert time from HHMM (e.g., 1130, 845) to decimal hour (e.g., 11.5, 8.75).
    """
    if pd.isna(time_val):
        return None
    
    time_val = int(time_val)
    hour = time_val // 100
    minute = time_val % 100
    decimal_time = hour + minute/60
    return round(decimal_time, 2)


df1 = df.copy()
df1["CRS_DEP_TIME"] = df1["CRS_DEP_TIME"].apply(hhmm_to_decimal)
df1["CRS_ARR_TIME"] = df1["CRS_ARR_TIME"].apply(hhmm_to_decimal)

df1.to_csv("clean_data_delay_Flights_with_Cancelled.csv", index=False)

In [34]:
df1 = pd.read_csv("clean_data_delay_Flights_with_Cancelled.csv")

# Drop the column 'CANCELLED'
df_final = df1.drop(columns=["CANCELLED"])

# Save updated dataset
df_final.to_csv("clean_data_delay_Flights.csv", index=False)

In [12]:
# --- Load ---
flights = pd.read_csv("clean_data_delay_Flights.csv")
weather = pd.read_csv("wea_da_clean.csv")

# --- X·ª≠ l√Ω th·ªùi gian cho flights ---
flights["DEP_HOUR"] = np.floor(flights["CRS_DEP_TIME"]).astype(int)

# N·∫øu c√≥ YEAR, d√πng tr·ª±c ti·∫øp; n·∫øu kh√¥ng, t·∫°m ƒë·∫∑t 2025
flights["FL_DATE"] = pd.to_datetime(
    dict(year=2025, month=flights["MONTH"], day=flights["DAY_OF_MONTH"])
)

# --- Chu·∫©n h√≥a c·ªôt th·ªùi ti·∫øt ---
if weather["date"].str.len().min() <= 5:  # v√≠ d·ª• '04-01'
    weather["date"] = "2025-" + weather["date"]  # th√™m nƒÉm t·∫°m
weather["date"] = pd.to_datetime(weather["date"], errors="coerce")

# --- Merge ---
merged = flights.merge(
    weather,
    left_on=["ORIGIN", "FL_DATE", "DEP_HOUR"],
    right_on=["STATION", "date", "hour"],
    how="left"
)

# --- 4Ô∏è‚É£ Hi·ªÉn th·ªã th√¥ng tin ki·ªÉm tra ---
print("K√≠ch th∆∞·ªõc d·ªØ li·ªáu sau merge:", merged.shape)
print("S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu theo c·ªôt:")
print(merged.isna().sum())

K√≠ch th∆∞·ªõc d·ªØ li·ªáu sau merge: (50186, 27)
S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu theo c·ªôt:
MONTH                         0
DAY_OF_MONTH                  0
DAY_OF_WEEK                   0
OP_UNIQUE_CARRIER             0
ORIGIN                        0
ORIGIN_STATE_ABR              0
DEST                          0
DEST_STATE_ABR                0
CRS_DEP_TIME                  0
DEP_DELAY                     0
DEP_DELAY_NEW                 0
DEP_DEL15                     0
DEP_DELAY_GROUP               0
CRS_ARR_TIME                  0
CRS_ELAPSED_TIME              0
DISTANCE                      0
DISTANCE_GROUP                0
DEP_HOUR                      0
FL_DATE                       0
STATION                      94
date                         94
hour                         94
HourlyDewPointTemperature    94
HourlyDryBulbTemperature     94
HourlyRelativeHumidity       94
HourlyVisibility             94
HourlyWindSpeed              94
dtype: int64

In [13]:
# --- 5Ô∏è‚É£ Xem 10 d√≤ng ƒë·∫ßu ƒë·ªÉ ki·ªÉm tra k·∫øt qu·∫£ merge ---
print("\nC√°c d√≤ng ƒë·∫ßu ti√™n sau merge:")
print(merged.head(10))

C√°c d√≤ng ƒë·∫ßu ti√™n sau merge:
   MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER ORIGIN ORIGIN_STATE_ABR  \
0      4             1            2                AA    GEG               WA
1      4             1            2                AA    GEG               WA
2      4             1            2                AA    GEG               WA
3      4             1            2                AA    SEA               WA
4      4             1            2                AA    SEA               WA
5      4             1            2                AA    SEA               WA
6      4             1            2                AA    SEA               WA
7      4             1            2                AA    SEA               WA
8      4             1            2                AA    SEA               WA
9      4             1            2                AA    SEA               WA

  DEST DEST_STATE_ABR  CRS_DEP_TIME  DEP_DELAY  ...  DEP_HOUR    FL_DATE  \
0  DFW             TX          5.57       -1.0  ...         5 2025-04-01
1  PHX             AZ          6.53       -5.0  ...         6 2025-04-01
2  PHX             AZ         15.45       15.0  ...        15 2025-04-01
3  CLT             NC          7.33       -3.0  ...         7 2025-04-01
4  CLT             NC         13.83       -3.0  ...        13 2025-04-01
5  CLT             NC         22.00       -6.0  ...        22 2025-04-01
6  DFW             TX          0.98       47.0  ...         0 2025-04-01
7  DFW             TX          5.37      -12.0  ...         5 2025-04-01
8  DFW             TX          7.00       -3.0  ...         7 2025-04-01
9  DFW             TX         10.68       -3.0  ...        10 2025-04-01

   STATION       date  hour  HourlyDewPointTemperature  \
0      GEG 2025-04-01   5.0                         34
1      GEG 2025-04-01   6.0                         33
2      GEG 2025-04-01  15.0                         33
3      SEA 2025-04-01   7.0                         37
4      SEA 2025-04-01  13.0                         41
5      SEA 2025-04-01  22.0                         41
6      SEA 2025-04-01   0.0                         40
7      SEA 2025-04-01   5.0                         38
8      SEA 2025-04-01   7.0                         37
9      SEA 2025-04-01  10.0                         41

   HourlyDryBulbTemperature  HourlyRelativeHumidity HourlyVisibility  \
0                        36                      93            0.50s
1                        36                      89                5
2                        45                      63               10
3                        43                      80               10
4                        49                      74               10
5                        45                      86               10
6                        43                      89               10
7                        42                      85               10
8                        43                      80               10
9                        44                      89               10

  HourlyWindSpeed
0              13
1              10
2              10
3               6
4               6
5               7
6               8
7               3
8               6
9               6

[10 rows x 27 columns]

In [14]:
merged.to_csv("final_data_test.csv", index=False)

In [15]:
cols_to_drop = ["DEP_HOUR", "FL_DATE", "STATION", "date", "hour"]
merged.drop(columns=cols_to_drop, inplace=True, errors="ignore")

print("K√≠ch th∆∞·ªõc sau khi x√≥a:", merged.shape)
print("C√°c c·ªôt hi·ªán c√≤n:", list(merged.columns))

K√≠ch th∆∞·ªõc sau khi x√≥a: (50186, 22)
C√°c c·ªôt hi·ªán c√≤n: ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'ORIGIN', 'ORIGIN_STATE_ABR', 'DEST', 'DEST_STATE_ABR', 'CRS_DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'CRS_ARR_TIME', 'CRS_ELAPSED_TIME', 'DISTANCE', 'DISTANCE_GROUP', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyRelativeHumidity', 'HourlyVisibility', 'HourlyWindSpeed']

In [16]:
# Danh s√°ch c√°c c·ªôt th·ªùi ti·∫øt
weather_cols = [
    "HourlyDewPointTemperature",
    "HourlyDryBulbTemperature",
    "HourlyRelativeHumidity",
    "HourlyVisibility",
    "HourlyWindSpeed"
]

# C√°c k√Ω hi·ªáu l·ªói c·∫ßn lo·∫°i b·ªè
invalid_values = ["*", "", " ", "M", "T", "0.50s", "10.00s", "9999", "-9999"]

# 1Ô∏è‚É£ Thay th·∫ø gi√° tr·ªã l·ªói b·∫±ng NaN
merged[weather_cols] = merged[weather_cols].replace(invalid_values, np.nan)

# 2Ô∏è‚É£ √âp ki·ªÉu v·ªÅ float (c√≥ th·ªÉ t·∫°o th√™m NaN n·∫øu gi√° tr·ªã kh√¥ng h·ª£p l·ªá)
merged[weather_cols] = merged[weather_cols].apply(pd.to_numeric, errors="coerce")

# 3Ô∏è‚É£ Drop c√°c h√†ng c√≥ NaN trong c·ªôt th·ªùi ti·∫øt
before = merged.shape[0]
merged.dropna(subset=weather_cols, inplace=True)
after = merged.shape[0]

print(f"üßπ ƒê√£ x√≥a {before - after:,} d√≤ng c√≥ d·ªØ li·ªáu th·ªùi ti·∫øt l·ªói ho·∫∑c thi·∫øu.")
print(f"üìä D·ªØ li·ªáu c√≤n l·∫°i: {after:,} d√≤ng.")

üßπ ƒê√£ x√≥a 157 d√≤ng c√≥ d·ªØ li·ªáu th·ªùi ti·∫øt l·ªói ho·∫∑c thi·∫øu.
üìä D·ªØ li·ªáu c√≤n l·∫°i: 50,029 d√≤ng.

In [17]:
merged.to_csv("final_clean_data.csv", index=False)