In [1]:
import pandas as pd
import numpy as np

In [26]:

# --- Đọc dữ liệu ---
april = pd.read_csv("T_ONTIME_REPORTING_April2.csv")
may   = pd.read_csv("T_ONTIME_REPORTING_May2.csv")
june  = pd.read_csv("T_ONTIME_REPORTING_June2.csv")

# --- Gộp 3 file ---
combined = pd.concat([april, may, june], ignore_index=True)

# --- Sắp xếp theo MONTH và DAY_OF_MONTH (nếu cần giữ đúng thứ tự ngày) ---
combined = combined.sort_values(by=["MONTH"]).reset_index(drop=True)

# --- Xuất ra file CSV ---
combined.to_csv("T_ONTIME_REPORTING_AprilMayJune.csv", index=False)

print(combined.head())

   MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER ORIGIN ORIGIN_STATE_ABR  \
0      4             1            2                AA    CLT               NC
1      4             1            2                AA    CLT               NC
2      4             1            2                AA    CLT               NC
3      4             1            2                AA    DFW               TX
4      4             1            2                AA    DFW               TX

  DEST DEST_STATE_ABR  CRS_DEP_TIME  DEP_DELAY  DEP_DELAY_NEW  DEP_DEL15  \
0  SEA             WA           940       -6.0            0.0        0.0
1  SEA             WA          1623       -4.0            0.0        0.0
2  SEA             WA          1805       -4.0            0.0        0.0
3  GEG             WA          1930       11.0           11.0        0.0
4  SEA             WA           705       -4.0            0.0        0.0

   DEP_DELAY_GROUP  CRS_ARR_TIME  CANCELLED  CRS_ELAPSED_TIME  DISTANCE  \
0             -1.0          1250        0.0             370.0    2279.0
1             -1.0          1915        0.0             352.0    2279.0
2             -1.0          2056        0.0             351.0    2279.0
3              0.0          2113        0.0             223.0    1477.0
4             -1.0           933        0.0             268.0    1660.0

   DISTANCE_GROUP
0              10
1              10
2              10
3               6
4               7

In [27]:
# --- Đọc dữ liệu đã gộp ---
combined = pd.read_csv("T_ONTIME_REPORTING_AprilMayJune.csv")

# --- Lọc chỉ lấy ORIGIN_STATE_ABR = 'WA' ---
wa_flights = combined[combined["ORIGIN_STATE_ABR"] == "WA"]

# --- Xuất ra file CSV riêng ---
wa_flights.to_csv("T_ONTIME_REPORTING_WA.csv", index=False)

print(wa_flights.head())
print("Tổng số chuyến bay đến WA:", len(wa_flights))

    MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER ORIGIN  \
12      4             1            2                AA    GEG
13      4             1            2                AA    GEG
14      4             1            2                AA    GEG
21      4             1            2                AA    SEA
22      4             1            2                AA    SEA

   ORIGIN_STATE_ABR DEST DEST_STATE_ABR  CRS_DEP_TIME  DEP_DELAY  \
12               WA  DFW             TX           534       -1.0
13               WA  PHX             AZ           632       -5.0
14               WA  PHX             AZ          1527       15.0
21               WA  CLT             NC           720       -3.0
22               WA  CLT             NC          1350       -3.0

    DEP_DELAY_NEW  DEP_DEL15  DEP_DELAY_GROUP  CRS_ARR_TIME  CANCELLED  \
12            0.0        0.0             -1.0          1112        0.0
13            0.0        0.0             -1.0           920        0.0
14           15.0        1.0              1.0          1807        0.0
21            0.0        0.0             -1.0          1519        0.0
22            0.0        0.0             -1.0          2150        0.0

    CRS_ELAPSED_TIME  DISTANCE  DISTANCE_GROUP
12             218.0    1477.0               6
13             168.0    1020.0               5
14             160.0    1020.0               5
21             299.0    2279.0              10
22             300.0    2279.0              10
Tổng số chuyến bay đến WA: 50372

In [28]:
df = pd.read_csv("T_ONTIME_REPORTING_WA.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50372 entries, 0 to 50371
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              50372 non-null  int64
 1   DAY_OF_MONTH       50372 non-null  int64
 2   DAY_OF_WEEK        50372 non-null  int64
 3   OP_UNIQUE_CARRIER  50372 non-null  object
 4   ORIGIN             50372 non-null  object
 5   ORIGIN_STATE_ABR   50372 non-null  object
 6   DEST               50372 non-null  object
 7   DEST_STATE_ABR     50372 non-null  object
 8   CRS_DEP_TIME       50372 non-null  int64
 9   DEP_DELAY          50196 non-null  float64
 10  DEP_DELAY_NEW      50196 non-null  float64
 11  DEP_DEL15          50196 non-null  float64
 12  DEP_DELAY_GROUP    50196 non-null  float64
 13  CRS_ARR_TIME       50372 non-null  int64
 14  CANCELLED          50372 non-null  float64
 15  CRS_ELAPSED_TIME   50372 non-null  float64
 16  DISTANCE           50372 non-null  float64
 17  DISTANCE_GROUP     50372 non-null  int64
dtypes: float64(7), int64(6), object(5)
memory usage: 6.9+ MB

In [29]:
df.isnull().sum()

MONTH                  0
DAY_OF_MONTH           0
DAY_OF_WEEK            0
OP_UNIQUE_CARRIER      0
ORIGIN                 0
ORIGIN_STATE_ABR       0
DEST                   0
DEST_STATE_ABR         0
CRS_DEP_TIME           0
DEP_DELAY            176
DEP_DELAY_NEW        176
DEP_DEL15            176
DEP_DELAY_GROUP      176
CRS_ARR_TIME           0
CANCELLED              0
CRS_ELAPSED_TIME       0
DISTANCE               0
DISTANCE_GROUP         0
dtype: int64

In [30]:
# Xóa các dòng có giá trị thiếu ở cột 
df = df.dropna(subset=["DEP_DELAY", "DEP_DELAY_NEW", "DEP_DEL15", "DEP_DELAY_GROUP"]).reset_index(drop=True)
df.isnull().sum()

MONTH                0
DAY_OF_MONTH         0
DAY_OF_WEEK          0
OP_UNIQUE_CARRIER    0
ORIGIN               0
ORIGIN_STATE_ABR     0
DEST                 0
DEST_STATE_ABR       0
CRS_DEP_TIME         0
DEP_DELAY            0
DEP_DELAY_NEW        0
DEP_DEL15            0
DEP_DELAY_GROUP      0
CRS_ARR_TIME         0
CANCELLED            0
CRS_ELAPSED_TIME     0
DISTANCE             0
DISTANCE_GROUP       0
dtype: int64

In [31]:
# Count number of cancelled flights
num_cancelled = df[df["CANCELLED"] == 1].shape[0]
print("Number of cancelled flies (CANCELLED = 1):", num_cancelled)

df[df["CANCELLED"] == 1].head()

Number of cancelled flies (CANCELLED = 1): 10

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,DEST,DEST_STATE_ABR,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,CRS_ARR_TIME,CANCELLED,CRS_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP
524,4,2,3,AS,SEA,WA,BNA,TN,1742,426.0,426.0,1.0,12.0,2359,1.0,257.0,1978.0,8
11349,4,24,4,AS,SEA,WA,DEN,CO,1358,54.0,54.0,1.0,3.0,1738,1.0,160.0,1024.0,5
15631,5,2,5,AS,SEA,WA,PSC,WA,1950,-4.0,0.0,0.0,-1.0,2051,1.0,61.0,172.0,1
24646,5,19,1,AS,SEA,WA,JFK,NY,2140,-5.0,0.0,0.0,-1.0,609,1.0,329.0,2422.0,10
30349,5,29,4,AS,SEA,WA,KTN,AK,1151,4.0,4.0,0.0,0.0,1257,1.0,126.0,680.0,3

In [32]:
# Delete rows with CANCELLED = 1
df = df[df["CANCELLED"] != 1]

print("Size of dataset:", df.shape)

Size of dataset: (50186, 18)

In [ ]:
def hhmm_to_decimal(time_val):
    """
    Convert time from HHMM (e.g., 1130, 845) to decimal hour (e.g., 11.5, 8.75).
    """
    if pd.isna(time_val):
        return None
    
    time_val = int(time_val)
    hour = time_val // 100
    minute = time_val % 100
    decimal_time = hour + minute/60
    return round(decimal_time, 2)


df1 = df.copy()
df1["CRS_DEP_TIME"] = df1["CRS_DEP_TIME"].apply(hhmm_to_decimal)
df1["CRS_ARR_TIME"] = df1["CRS_ARR_TIME"].apply(hhmm_to_decimal)

df1.to_csv("clean_data_delay_Flights_with_Cancelled.csv", index=False)

In [34]:
df1 = pd.read_csv("clean_data_delay_Flights_with_Cancelled.csv")

# Drop the column 'CANCELLED'
df_final = df1.drop(columns=["CANCELLED"])

# Save updated dataset
df_final.to_csv("clean_data_delay_Flights.csv", index=False)